.App {
  text-align: center;
}
.form {
  max-width: 500px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}
.item{
  display: flex;
}
.deleteBtn{
  height: 30px;
}
.todoItem {
  border: 1px solid rgba(105,105,105,0.397);
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  outline: 0;
  border-radius: 10px;
  background: none;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.todoGroup {
  display: flex;
  justify-content: center;

}
button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 10px;
 }
 
 button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
 }
 
 button:main, button:focus {
  user-select: auto;
 }
 
 button:hover:not(:disabled) {
  filter: brightness(1.1);
 }
 
 button:disabled {
  cursor: auto;
 }
 
 button:active:after {
  border-width: 0 0 0px;
 }
 
 button:active {
  padding-bottom: 10px;
 }

 
 .input {
  width: 80%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 

 
 
 
 
 
.todoGenerator{
  width: 340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
